@import url('https://fonts.googleapis.com/css?family=Comfortaa|Poiret+One|Raleway|Ubuntu+Mono&display=swap');
.intro {
  font-family: 'Comfortaa', cursive;
  text-align: left;

}

h3{
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  text-align: center;
}
